[*.{js,json,sh,zsh,md,mk}]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 3

[Makefile]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 3

[*.abnf]
charset = ascii
end_of_line = crlf
indent_style = space
indent_size = 1

[*.{html}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2