// @title: Stylesheet Design
// @description: 
// @author: Grant Kellie (grantkellie.dev)
// @contents:
// - Color Palette
//  -- Colour
//  -- Shades
//  -- Misc
// - Element Styles
//  -- Radius
//  -- Center text alignment
//  -- Button Style

@charset 'utf-8';
@use '../scss/media-queries/mixins_media_queries' as media-queries;
@use '../scss/color/functions_color' as color;
@use '../scss/animation/mixins_effect' as effect;

// @collection: Color Palette
// @title: Color
.color--Primary{
    background:color.set('primary');
}

.color--Secondary{
    background:color.set('secondary');
}

.color--Tertiary{
    background:color.set('tertiary');
}

.color--Primary, .color--Secondary, .color--Tertiary {
    color:color.set('light');
}

// @title: Shades
.color--light{
    background:color.set('light');
}

.color--light-medium{
    background:color.set('light-medium');
}

.color--medium{
    background:color.set('medium');
}

.color--medium-dark{
    background:color.set('medium-dark');
}

.color--dark{
    background:color.set('dark');
}

.color--light, .color--light-medium, .color--medium{
    color:color.set('dark');
}

.color--medium-dark, .color--dark {
    color:color.set('light');
}

// @title: Misc
.color--success{
    background:color.set('success');
}

.color--warning{
    background:color.set('error');
}

.color--success, .color--warning {
    color:color.set('light');
}

// @collection: Element Styles
// @title: Radius
.radius-100 {
    border-radius: 100%;
}

// @title: Center text alignment
.center {
    text-align: center;
}

// @title: Pointer
.pointer {
	cursor: pointer;
}

// @title: Button Style
// @description: A button element represents a clickable button used to perform an action or submit a form.
.button {
	@include media-queries.desktop(){
		min-width:160px;
		height:42px;
	}
	
	@include media-queries.responsive(){
		min-width:128px;
		height:38px;		
	}
	
	display:flex;
	justify-content: center;
	align-items: center;	

	// Default Style
	font-size:inherit; 
	font-family: sans-serif; 	
	cursor: pointer;
	border:none;
	border-radius:8px;	
	color:color.set('light');
	background:color.set('primary');

	&:hover {
		background:color.set('secondary');
	}

	// Pagination
	&-pagination {
		min-width:80px;
		height:32px;	
	}
	
	// ease out effect
	@include effect.ease(all, .25s, ease-out);
	 
	// @title: Solid Button	
	&--solid {
		border: none;
		color:color.set('light');
		background:color.set('primary');

		&:hover {
			background:color.set('secondary');
		}	
	}
	
	// @title: Solid Button	
	&--hollow {
		color:color.set('primary');
		border: 4px solid color.set('primary');
		background:color.set('hidden');

		&:hover {
			color:color.set('secondary');
			border: 4px solid color.set('secondary');
			background:color.set('hidden');
		}
	}

	// @title: Button focus
	// @description focus causes button click to stay on after click	
	&:focus {
		outline:0;
		background:color.set('tertiary');
	}
}