/* 
@title: Developer Tools
@description: Assisting with debug and development processes
@author: Grant Kellie (grantkellie.dev)
@date: 2024 08 28

@contents:
- debug
*/

@charset 'utf-8';
@use '../scss/color/functions_color' as color;

/* 
@title: debug
@description: applies a debug color to the effected elements 
@todo: apply to developer tools
*/
.debug {
    background: color.set('debug'); /* Example styles */
}