@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: hsl(0, 0%, 5%);
  accent-color: hsl(210, 74%, 69%);
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  color: hsl(0, 0%, 100%);
  background: hsl(210, 98%, 20%);
}

::selection {
  color: hsl(0, 0%, 100%);
  background: hsl(210, 98%, 20%);
}

p {
  font-weight: normal;
  text-wrap: pretty;
}

b {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

i {
  font-style: italic;
}

a {
  text-decoration: underline;
  color: hsl(210, 71%, 44%);
}
a:link {
  color: hsl(210, 74%, 69%);
}
a:visited {
  color: hsl(210, 74%, 69%);
}
a:hover {
  color: hsl(210, 98%, 20%);
}

a:hover, button:hover {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  text-wrap: balance;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
}

h3 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.3;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
}

h5 {
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.4;
}

h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
}

ol {
  list-style-type: decimal;
}

li {
  list-style-position: inside;
}

dl {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

form {
  border: 2px solid hsl(210, 11%, 95%);
  border-radius: 10px;
  padding: 12px;
}
form div, form span, form fieldset {
  flex-wrap: wrap;
}

input, label, textarea, select, option, legend, datalist, output, progress, meter {
  min-height: 16px;
  line-height: 16px;
}

input, textarea, select, fieldset {
  min-width: 160px;
  outline: none;
  border: none;
  box-shadow: none;
}

input[type=radio] {
  min-width: 16px;
  height: 16px;
}

input[type=checkbox] {
  min-width: 16px;
  height: 16px;
}

label {
  line-height: 1;
  cursor: default;
}

fieldset * {
  display: grid;
}

header, footer {
  flex-grow: 0;
  flex-shrink: 0;
  color: hsl(0, 0%, 100%);
  background: hsl(210, 98%, 20%);
}

section:not(:first-child) {
  margin-bottom: 50px;
}
@media screen and (min-width: 1140px) {
  section {
    width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) and (max-width: 1139px) {
  section {
    width: 960px;
  }
}
@media screen and (max-width: 1140px) {
  section {
    width: 96%;
  }
}
section:first-child {
  margin: 0px auto 0 auto;
}
section:not(:first-child) {
  margin: 25px auto 25px auto;
}
section:last-child {
  margin: 0 auto 50px auto;
}

.container-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  grid-template-rows: auto;
  gap: 8px;
}
.container-auto .column {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 8px;
}
.container-auto .row {
  background: hsl(210, 11%, 95%);
}

footer {
  height: 64px;
  padding: 16px 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1140px) {
  main {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1140px) {
  body.fullwidth section {
    width: 92%;
    margin: 0 auto;
  }
}

.v-align--grid {
  height: 100%;
  display: grid;
  align-items: center;
}
.v-align--flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.h-align--grid {
  height: 100%;
  display: grid;
  justify-content: center;
}
.h-align--flex {
  height: 100%;
  display: flex;
  justify-content: center;
}
.h-align--flex--right {
  justify-content: right;
}
.h-align--flex--left {
  justify-content: left;
}

.hv-align--grid {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.hv-align--flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^=col-] {
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 1140px) {
  .col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .col-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .col-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .col-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .col-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .col-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .col-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .col-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .col-1-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-2-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-3-auto {
    grid-template-columns: repeat(3, minmax(0, auto));
  }
  .col-4-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-5-auto {
    grid-template-columns: repeat(5, minmax(0, auto));
  }
  .col-6-auto {
    grid-template-columns: repeat(6, minmax(0, auto));
  }
  .col-7-auto {
    grid-template-columns: repeat(7, minmax(0, auto));
  }
  .col-8-auto {
    grid-template-columns: repeat(8, minmax(0, auto));
  }
  .col-9-auto {
    grid-template-columns: repeat(9, minmax(0, auto));
  }
  .col-10-auto {
    grid-template-columns: repeat(10, minmax(0, auto));
  }
  .col-11-auto {
    grid-template-columns: repeat(11, minmax(0, auto));
  }
  .col-12-auto {
    grid-template-columns: repeat(12, minmax(0, auto));
  }
}
@media screen and (min-width: 960px) and (max-width: 1139px) {
  .col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .col-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .col-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .col-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .col-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .col-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .col-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .col-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .col-1-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-2-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-3-auto {
    grid-template-columns: repeat(3, minmax(0, auto));
  }
  .col-4-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-5-auto {
    grid-template-columns: repeat(5, minmax(0, auto));
  }
  .col-6-auto {
    grid-template-columns: repeat(6, minmax(0, auto));
  }
  .col-7-auto {
    grid-template-columns: repeat(7, minmax(0, auto));
  }
  .col-8-auto {
    grid-template-columns: repeat(8, minmax(0, auto));
  }
  .col-9-auto {
    grid-template-columns: repeat(9, minmax(0, auto));
  }
  .col-10-auto {
    grid-template-columns: repeat(10, minmax(0, auto));
  }
  .col-11-auto {
    grid-template-columns: repeat(11, minmax(0, auto));
  }
  .col-12-auto {
    grid-template-columns: repeat(12, minmax(0, auto));
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-5 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-6 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-7 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-8 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-9 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-10 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-11 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-12 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .col-1-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-2-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-3-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-4-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-5-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-6-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-7-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-8-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-9-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-10-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-11-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
  .col-12-auto {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-6 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-7 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-8 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-9 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-10 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-11 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-12 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .col-2-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-3-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-4-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-5-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-6-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-7-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-8-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-9-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-10-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-11-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
  .col-12-auto {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
@media screen and (max-width: 319px) {
  .col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-6 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-7 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-8 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-9 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-10 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-11 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-12 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-1-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-2-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-3-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-4-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-5-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-6-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-7-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-8-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-9-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-10-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-11-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
  .col-12-auto {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
}
table {
  min-width: 100%;
  border-collapse: collapse;
  border: 1px solid hsl(206, 11%, 75%);
  overflow: scroll;
}
table.layout--fixed {
  table-layout: fixed;
}
table td, table th, table tr {
  min-width: 142.5px;
  width: auto;
  height: 40px;
}
table td, table th {
  padding: 0.5em;
  padding: 10px;
  text-align: left;
}
table th {
  background-color: hsl(210, 98%, 20%);
  color: white;
}
table td {
  border: 1px solid hsl(206, 11%, 40%);
}
table tr:nth-child(even) {
  background-color: hsl(0, 0%, 100%);
}
table tr:nth-child(odd) {
  background-color: hsl(210, 11%, 95%);
}

.ratio-1-1, .ratio-2-1, .ratio-4-3, .ratio-16-9 {
  width: auto;
  height: auto;
  overflow: hidden !important;
  position: relative;
}

.ratio-1-1 {
  width: auto;
  aspect-ratio: 1/1;
}

.ratio-2-1 {
  width: auto;
  aspect-ratio: 2/1;
}

.ratio-4-3 {
  width: auto;
  aspect-ratio: 4/3;
}

.ratio-16-9 {
  width: auto;
  aspect-ratio: 16/9;
}

.overflow {
  overflow: hidden;
}

.overflow--buffer {
  overflow: auto;
}

.horizontal-overflow--buffer {
  overflow-y: auto;
}

.vertical-overflow--buffer {
  overflow-x: auto;
}

.color--Primary {
  background: hsl(210, 98%, 20%);
}

.color--Secondary {
  background: hsl(210, 71%, 44%);
}

.color--Tertiary {
  background: hsl(210, 74%, 69%);
}

.color--Primary, .color--Secondary, .color--Tertiary {
  color: hsl(0, 0%, 100%);
}

.color--light {
  background: hsl(0, 0%, 100%);
}

.color--light-medium {
  background: hsl(210, 11%, 95%);
}

.color--medium {
  background: hsl(206, 11%, 75%);
}

.color--medium-dark {
  background: hsl(206, 11%, 40%);
}

.color--dark {
  background: hsl(0, 0%, 5%);
}

.color--light, .color--light-medium, .color--medium {
  color: hsl(0, 0%, 5%);
}

.color--medium-dark, .color--dark {
  color: hsl(0, 0%, 100%);
}

.color--success {
  background: hsl(145, 69%, 47%);
}

.color--warning {
  background: hsl(350, 68%, 52%);
}

.color--success, .color--warning {
  color: hsl(0, 0%, 100%);
}

.radius-100 {
  border-radius: 100%;
}

.center {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background: hsl(210, 98%, 20%);
  transition: all 0.25s ease-out 0ms;
}
@media screen and (min-width: 1140px) {
  .button {
    min-width: 160px;
    height: 42px;
  }
}
@media screen and (max-width: 1140px) {
  .button {
    min-width: 128px;
    height: 38px;
  }
}
.button:hover {
  background: hsl(210, 71%, 44%);
}
.button--solid {
  border: none;
  color: hsl(0, 0%, 100%);
  background: hsl(210, 98%, 20%);
}
.button--solid:hover {
  background: hsl(210, 71%, 44%);
}
.button--hollow {
  color: hsl(210, 71%, 44%);
  border: 4px solid hsl(210, 71%, 44%);
  background: hsla(0, 0%, 0%, 0);
}
.button--hollow:hover {
  color: hsl(210, 74%, 69%);
  border: 4px solid hsl(210, 74%, 69%);
}
.button:focus {
  outline: 0;
  background: hsl(210, 74%, 69%);
}

a img, img, video {
  border: none;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

* > img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  z-index: 1;
}
* > img:hover {
  transition: all 0.5s ease-out 0ms;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: hsl(0, 0%, 5%);
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  shape-rendering: crispEdges;
}

.icon {
  width: 64px;
  height: 64px;
  transition: 500ms;
  margin: 0 auto;
  border: 0;
}
.icon.icon--shrink:hover {
  width: 48px;
  height: 48px;
}
.icon.icon--grow:hover {
  width: 96px;
  height: 96px;
}
.icon.icon--border-full {
  border-radius: 100%;
}
.icon__search {
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: hsl(206, 11%, 75%);
}
.icon__search--left {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 0 5% 5% 0;
  background: hsl(206, 11%, 75%);
}

.overlay {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  padding: 16px;
  color: hsl(0, 0%, 100%);
  background: hsla(206, 11%, 7%, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  z-index: 1;
}
.overlay:hover {
  background: hsla(0, 0%, 0%, 0);
}
.overlay--auto {
  height: auto;
}
.overlay--quart {
  max-height: 25% !important;
}
.overlay--half {
  max-height: 50% !important;
}
.overlay--full {
  max-height: 100% !important;
}
.overlay--quart-width {
  width: 25% !important;
}
.overlay--half-width {
  width: 50% !important;
}
.overlay--full-width {
  width: 100% !important;
}
.overlay--width {
  width: var(--overlay-width, calc(100% - 32px));
}
.overlay--center {
  align-items: center;
  justify-content: center;
}
.overlay--top-left {
  align-items: flex-start;
  justify-content: flex-start;
}
.overlay--top-right {
  align-items: flex-end;
  justify-content: flex-start;
}
.overlay--bottom-left {
  align-items: flex-start;
  justify-content: flex-end;
}
.overlay--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}
.overlay--middle-top {
  align-items: center;
  justify-content: flex-start;
}
.overlay--middle-bottom {
  align-items: center;
  justify-content: flex-end;
}
.overlay--middle-right {
  align-items: flex-end;
  justify-content: center;
}
.overlay--middle-left {
  align-items: flex-start;
  justify-content: center;
}
.overlay--space-between {
  align-items: stretch;
  justify-content: space-between;
}
.overlay--space-around {
  align-items: stretch;
  justify-content: space-around;
}
.overlay--space-evenly {
  align-items: stretch;
  justify-content: space-evenly;
}
.overlay .overlay__title {
  font-size: 1.25em;
  font-weight: bold;
}
.overlay .overlay__subtitle {
  font-size: 0.84em;
}
form.filter-menu--quick-search {
  border: none;
  border-radius: unset;
  display: inline-flex;
}
form.filter-menu--quick-search input {
  padding: 8px;
}
form.filter-menu--detailed-search {
  border: none;
  border: 2px solid hsl(210, 11%, 95%);
  border-radius: 10px;
}
form.filter-menu--detailed-search * {
  display: flex;
}
form.filter-menu--detailed-search > div, form.filter-menu--detailed-search span {
  flex-wrap: wrap;
  gap: 6px;
}
form.filter-menu--detailed-search .filter-group {
  gap: 10px;
}
form.filter-menu--detailed-search .filter-group > * {
  flex: 1 1 calc(33.333% - 16px);
  justify-content: center;
  align-items: center;
}
form.filter-menu--detailed-search .filter-group > * > label {
  margin: 0 8px 0 0;
}
form.filter-menu--detailed-search .filter-group > * input, form.filter-menu--detailed-search .filter-group > * select {
  flex: 1;
}

.pagination {
  text-align: center;
}

body.panel-layout--top header {
  margin: 320px 0 0 0;
}
body.panel-layout--bottom footer {
  padding: 0 0 320px 0;
}
body.panel-layout--left main, body.panel-layout--left header, body.panel-layout--left footer {
  margin: 0 0 0 320px;
}
body.panel-layout--right main, body.panel-layout--right header, body.panel-layout--right footer {
  margin: 0 320px 0 0;
}
body.panel-layout--left--right main, body.panel-layout--left--right header, body.panel-layout--left--right footer {
  margin: 0 320px 0 320px;
}

.scrollbar {
  overflow-y: auto;
}
.scrollbar--top {
  overflow-y: hidden;
  overflow-x: auto;
  transform: rotateX(180deg);
}
.scrollbar--bottom {
  overflow-y: hidden;
  overflow-x: auto;
  transform: rotateX(0deg);
}
.scrollbar--left {
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
}
.scrollbar--right {
  overflow-y: auto;
  overflow-x: hidden;
  direction: ltr;
}

.panel {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
  position: fixed;
  z-index: 9998;
}
.panel input {
  display: none;
}
.panel--top {
  width: 100vw;
  height: 320px;
  top: 0;
  left: 0;
  bottom: unset;
  transform: rotateX(0deg);
  border-bottom: solid hsl(0, 0%, 5%) 1px;
}
.panel--top > * {
  width: 100%;
  overflow-y: hidden;
}
.panel--top section {
  width: 120%;
  margin: 0 auto;
}
.panel--bottom {
  width: 100vw;
  height: 320px;
  top: unset;
  left: 0;
  bottom: 0;
  border-top: solid hsl(0, 0%, 5%) 1px;
}
.panel--bottom > * {
  transform: rotateX(180deg);
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
.panel--left {
  width: 320px;
  height: 100vh;
  padding: 0 0 25px 0;
  top: 0;
  left: 0;
  right: unset;
  align-items: center;
  border-right: solid hsl(0, 0%, 5%) 1px;
}
.panel--left section {
  width: 96%;
  margin: 0 2%;
}
.panel--right {
  width: 320px;
  height: 100vh;
  top: 0;
  left: unset;
  right: 0;
  align-items: center;
  border-left: solid hsl(0, 0%, 5%) 1px;
}
.panel--right section {
  width: 96%;
  margin: 0 2%;
}
.panel * {
  list-style: none;
}
.panel .toggle-content {
  display: block;
}
.panel .toggle-content:last-child {
  margin: 0 0 25px 0;
}
.panel .toggle-input:checked + label + .toggle-content {
  display: none;
}
.panel label > h3 {
  cursor: pointer;
}
.panel .toggle-master, .panel .main-label {
  display: none;
}

@media screen and (max-width: 1140px) {
  body.panel-layout--top main, body.panel-layout--top header, body.panel-layout--top footer, body.panel-layout--bottom main, body.panel-layout--bottom header, body.panel-layout--bottom footer, body.panel-layout--left main, body.panel-layout--left header, body.panel-layout--left footer, body.panel-layout--right main, body.panel-layout--right header, body.panel-layout--right footer, body.panel-layout--left--right main, body.panel-layout--left--right header, body.panel-layout--left--right footer {
    margin: unset;
    padding: unset;
  }
  body.panel-layout--top footer, body.panel-layout--bottom footer, body.panel-layout--left footer, body.panel-layout--right footer, body.panel-layout--left--right footer {
    padding: 32px 0 0 0;
  }
  .panel {
    width: 100%;
    height: auto;
    margin: 100px auto 25px auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .panel section {
    width: 96%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .panel main, .panel header, .panel footer {
    margin: unset;
    padding: unset;
  }
  .panel .toggle-section .toggle-content {
    display: none;
  }
  .panel .toggle-section .toggle-content:last-child {
    margin: 0;
  }
  .panel .toggle-section .toggle-input:checked + label + .toggle-content {
    display: block;
  }
  .panel .main-label {
    display: block;
  }
  .panel .toggle-master:checked ~ .toggle-section .toggle-content {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .panel section {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .panel section {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  header {
    height: 100px;
  }
}
@media screen and (max-width: 1140px) {
  header {
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 99999;
  }
}
header #logo {
  width: -moz-fit-content;
  width: fit-content;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
header #logo .large {
  font-size: 2em;
}
header #logo .small {
  display: none;
  font-size: 1em;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header #logo .large {
    font-size: 1.48em;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header #logo .large {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 319px) {
  header #logo .large {
    font-size: 1em;
  }
}

nav #menu * {
  list-style: none;
}
@media screen and (min-width: 1140px) {
  nav #menu {
    margin: 8px 0 0 0;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  nav #menu a {
    padding: 0 0 10px 0;
    text-decoration: none;
  }
  nav #menu a:hover {
    color: hsl(0, 0%, 100%);
  }
  nav #menu li {
    position: relative;
    margin: 0 10px;
  }
  nav #menu li.category:hover .dropdown {
    text-align: center;
    display: block;
  }
  nav #menu li.category > a::after {
    content: " ▼";
    font-size: 0.64em;
  }
  nav #menu li .dropdown {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    min-width: 160px;
    z-index: 1;
  }
  nav #menu li .dropdown a {
    min-height: 100px auto;
    padding: 12px 16px;
    display: block;
    color: hsl(0, 0%, 5%);
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px hsla(206, 11%, 7%, 0.25);
    background: hsl(210, 11%, 95%);
  }
  nav #menu li .dropdown a:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(210, 98%, 20%);
  }
  nav #toggle, nav #toggle--state {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  nav {
    width: 32px;
    height: 32px;
    top: 22px;
    right: 4vw;
    position: absolute;
    z-index: 99999;
  }
  nav #toggle {
    padding: unset;
  }
  nav #toggle span {
    width: 32px;
    height: 4px;
    margin: 6px 0 0 0;
    border-radius: 25px;
    display: block;
    background: hsl(0, 0%, 100%);
    z-index: 9995;
  }
  nav #toggle span:last-child {
    width: 26px;
  }
  nav #toggle--state {
    display: none;
  }
  nav #toggle--state:checked ~ #toggle {
    position: fixed;
  }
  nav #toggle--state:checked + label span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  nav #toggle--state:checked + label span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
  }
  nav #toggle--state:checked + label span:nth-child(3) {
    opacity: 0;
  }
  nav #toggle--state:not(:checked) + label span:last-child {
    opacity: 1;
  }
  nav #toggle--state ~ label span {
    transition: transform 0.3s ease, opacity 0.2s ease;
  }
  nav #toggle--state:checked ~ #menu {
    display: block;
  }
  nav #menu {
    display: none;
    width: 100vw;
    height: 100%;
    margin: 74px 0 0 0;
    padding: 14px 0 0 0;
    font-size: 1.25em;
    text-align: center;
    border-top: 2px solid hsla(206, 11%, 7%, 0.25);
    background: hsl(210, 98%, 20%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow-y: auto;
  }
  nav #menu a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
  nav #menu li, nav #menu .category {
    margin: 0 0 32px 0;
  }
  nav #menu li.category > a::after {
    content: " ▼";
  }
  nav #menu li.category:hover > ul {
    margin: 16px 0 0 0;
    display: grid;
  }
  nav #menu li.category > a::after {
    margin: 0 0 0 4px;
    content: " ▼";
    font-size: 16px;
  }
  nav #menu li .category--state:checked ~ ul {
    display: grid;
  }
  nav #menu ul {
    min-height: 100px;
    align-items: center;
    justify-content: center;
    display: none;
  }
  nav #menu ul li {
    width: 94vw;
    min-height: 64px;
    margin: 8px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background: hsl(210, 71%, 44%);
  }
  nav #menu ul li.category:hover .dropdown {
    display: block;
  }
  nav #menu ul li.category > a::after {
    content: " ▼";
    font-size: 0.64em;
  }
  nav #menu ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }
  nav #menu ul li .dropdown a {
    color: black;
    min-height: 100px auto;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  nav #menu ul li .dropdown a:hover {
    background: hsl(206, 11%, 75%);
  }
}
@media screen and (min-width: 1140px) {
  nav#desktop {
    display: block;
  }
  nav#responsive {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  nav#desktop {
    display: none;
  }
  nav#responsive {
    display: block;
  }
}

.none {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.js-disabled {
  display: block;
}

.js-enabled {
  display: none;
}

.hny {
  visibility: hidden;
  position: fixed;
  top: -99999px;
  left: -99999px;
  z-index: -9999999;
}

.debug {
  background: hsla(280, 68%, 52%, 0.25);
}/*# sourceMappingURL=style.css.map */