// @title: Content systems
// @description: Components for creating a pagination, load more, infinite scroll and filter menu's
// @author: Grant Kellie (grantkellie.dev)
// @contents:
// - Filter
// -- Quick search
// - Pagination

@charset 'utf-8';
@use '../scss/color/functions_color' as color;

// @title: Filter Menu
// @description: menu system for searching and filterng information.
form.filter-menu {
    
    // @title: Quick Search
    // @description: Small filter menu system
    &--quick-search {
        border:none;
        border: 2px solid color.set('light-medium'); 
        border-radius: 10px; 
  
        & * {
            display: flex;
        }
    
        & > div, span {		
            flex-wrap: wrap;
            gap:6px;
        }        

        // Filter group container (flex layout)
        .filter-group {
            gap: 10px;

            // Each individual form field
            & > * {
                flex: 1 1 calc(33.333% - 16px);
                justify-content: center;
                align-items: center;                     

                & > label {
                    margin:0 8px 0 0;      
                }
                
                & input, select {
                    flex: 1;
                }
            }
        }
     
        & button {            
            margin:24px 0px;
           
            &:not(:last-child){
                margin:24px 16px 0px 0px;  
            }
        }
    }
}

// @title: Pagination
// @description: 
.pagination {
    text-align: center;    
    
    // first
    // previous
        // numerics
    // next
    // last
}


