 
// @title: CSS Only Header Navigation
// @description: The primary navigation for the header, it provides and handles drop down menu's for both desktop and responsive devices.
// @author: Grant Kellie (grantkellie.dev)
// @contents:
// - Primary Header
// - Header Logo
// - Primary Header Navigation
// - Desktop menu
// - Responsive button state
// - Responsive button
// - Toggle button
// - Toggle button state
// - Responsive menu
// - Checkbox toggle
// - Hover toggle
// - Responsive dropdown
// - Navigation visability


@charset 'utf-8';
@use '../scss/media-queries/mixins_media_queries' as media-queries;
@use '../scss/color/functions_color' as color;

// @title: Primary Header
// @description: Header for the Navigation menu
header {
    @include media-queries.desktop {
        height:100px;
    }

    @include media-queries.responsive {
        width:100vw;
        height:80px;
        position: fixed;
        z-index:99999;
    }

    // @title: Header Logo
    // @description: primary logo settings for the Header / Navigation block
    // @parent: Primary Header
    
    #logo {
        width:fit-content;    
        color:color.set('light');
        text-decoration: none;
        font-weight:320;

        & .large {
            font-size:2em;
        }
    
        & .small {
            display:none;
            font-size:1em;
        }
    
        @include media-queries.mobile {   
            & .large {
                font-size:1.48em;
            }        
        }

        @include media-queries.small-mobile {   
            & .large {
                font-size:1.48em;
            }
        }

        @include media-queries.smartwatch {   
            & .large {
                font-size:1.48em;
            }
        }
    }
}

 
// @title: Primary Header Navigation
// @description: Provides a standard CSS only drop down for responsive menus  
// @parent: Primary Header
nav {

    & #menu *{
        font-weight:360;
        list-style: none;
    }
     
    // @title: Desktop menu
    // @description: Menu to work on the desktop header.    
    @include media-queries.desktop() {
        #menu {
            margin:8px 0 0 0;
            align-items:center;
            display:flex;
            justify-content:flex-end;
            
            & a {
                padding:0 0 10px 0;
                text-decoration:none;
                color:color.set('light');
                &:hover {
                    color:color.set('light');
                }
            }

            & li {
                position:relative;
                margin:0 10px;

                &.category:hover .dropdown {
                    text-align: center;
                    display:block;
                }

                &.category > a::after {
                    content:" ▼";
                    font-size:0.64em;
                }
            
                & .dropdown {
                    display:none;
                    position:absolute;
                    top:31px;
                    left:0;
                    min-width:160px;
                    z-index:1;
                }
            
                & .dropdown a {
                    min-height:100px auto;
                    padding:12px 16px;
                    // margin:0 0 16px 0;
                    // border-radius:10px;
                    display:block;
                    color:color.set('dark');
                    text-decoration:none;
                    box-shadow:0px 8px 16px 0px color.set('opacity-25');
                    background:color.set('light-medium');
                    
                }
            
                & .dropdown a:hover {
                    color:color.set('light');
                    background:color.set('primary');
                }
            }
        }

        // @title: Responsive button state
        // @description: On Desktop, sets the mobile responsive menu state.
        // @type: modifier        
        #toggle, #toggle--state {
            display:none;
        }

    }

    // @title: Responsive button
    // @description: Navigation menu to work on Mobile and Responsive devices.
    @include media-queries.responsive {

        width:32px;
        height:32px;
        top:22px;
        right:4vw;
        position:absolute;
        z-index:99999;
         
        // @title: Toggle button
        // @description: a hamburger menu menu for responsive design.
        #toggle {
            padding:unset;

            & span {
                width:32px;
                height:4px;
                margin:6px 0 0 0;
                border-radius:25px;
                display:block;
                background:color.set('light');
                z-index:9995;

                &:last-child{
                    width:26px;
                }
            }
        }
  
        // @title: Toggle button state
        // @parent: Toggle button
        // @description: CSS Only Hidden Checkbox state, Interaction changes visability state of elements.
        & #toggle--state {
            display:none; 
     
            // @parent: Toggle Button
            // @description: When checked, Prevents the Toggle button from moving.       
            &:checked ~ #toggle {
                position: fixed;
            }
          
            // @parent: Toggle Button : span
            // @description: When checked, creates an animation for the Toggle button.            
            &:checked + label span:nth-child(1) {
                transform:translateY(5px) rotate(45deg);
            }
            
            &:checked + label span:nth-child(2) {
                transform:translateY(-5px) rotate(-45deg);
            }
            
            &:checked + label span:nth-child(3) {
                opacity:0;
            }   

            &:not(:checked) + label span:last-child{
                opacity:1;
            }   
            
            &~ label span {
                transition:
                    transform 0.3s ease,
                    opacity 0.2s ease
                ;
            }
              
            // @parent: Responsive menu
            // @description When checked, makes the Responsive menu visable.     
            &:checked ~ #menu {
                display:block;
            }
        }
                   
        // @title: Responsive menu
        // @description: drop down menu visable when toggle state is checked. 
        #menu {
            display:none;
            width:100vw;
            height:100%;

            // Spacing from header
            margin:74px 0 0 0; 
            padding:14px 0 0 0;

            font-size: 1.25em;
            text-align:center;
            border-top:2px solid color.set('opacity-25');  
            background:color.set('primary');

            position:fixed;
            top:0;
            left:0;
            z-index:0;
            overflow-y:auto;
           
            a {
                text-decoration:none;
                 color:color.set('light');
            }

            & li, .category {
                margin:0 0 32px 0;
            }
         
            // @title: Hover Toggle 
            // @description: Toggle menu when element is clicked or hovered.
            // @parent: Responsive menu
            // @note: MUST not be used with [@sibling:Checkbox Toggle]. 
            
            li {
                &.category > a::after {
                    content:" ▼";
                }

                &.category:hover > ul {
                    margin:16px 0 0 0;
                    display:grid;
                }
            }

            // @title: Checkbox toggle
            // @description: Toggle menu with checkbox.
            // @parent: Responsive menu
            // @note: MUST not be used with [@sibling:Hover Toggle].            
            li {
                &.category > a::after {
                    margin:0 0 0 4px;
                    content:" ▼";
                    font-size:16px;
                }

                & .category--state:checked ~ ul {
                    display:grid;
                }
            }

            // @title: Responsive dropdown
            // @description: Elements within the responsive menu.
            // @parent: Responsive menu            
            & ul {
                min-height:100px;
                align-items:center;
                justify-content:center;
                display:none;

                & li {
                    width:94vw;
                    min-height:64px;
                    margin:8px 0;
                    border-radius: 5px;
                    align-items:center;
                    justify-content:center;
                    display:flex;

                    background:color.set('opacity-50');

                    &.category:hover .dropdown {
                        display:block;                        
                    }
    
                    &.category > a::after {
                        content:" ▼";
                        font-size:0.64em;
                    }
                
                    & .dropdown {
                        display:none;
                        position:absolute;
                        top:100%;
                        left:0;
                        min-width:160px;
                        background:color.set('light');
                        box-shadow:0px 8px 16px 0px rgba(0,0,0,0.05);
                        z-index:1;
                    }

                    & .dropdown a {
                        color:black;
                        min-height:100px auto;
                        padding:12px 16px;
                        text-decoration:none;
                        display:block;
                    }
                
                    & .dropdown a:hover {
                        background:color.set('medium');
                    }    
                }
            }
        }
    }
     
    // @title:Navigation visability
    // @description:set state of primary desktop or responsive navigation menus    
    @include media-queries.desktop(){
        &#desktop {
            display:block;
        }

        &#responsive {
            display:none;
        }
    }

    @include media-queries.responsive() {
        &#desktop {
            display:none;
        }

        &#responsive {
            display:block;
        }
    }
}