/* 
@title: CSS Only Sidebar Menu
@description: a toggle side bar menu
@author: Grant Kellie (grantkellie.dev)

@contents:
- Sidebar container
- 
*/

@charset 'utf-8';
@use '../scss/media-queries/mixins_media_queries' as media-queries;
@use '../scss/color/functions_color' as color;
@use '../scss/animation/mixins_effect' as effect;

/* 
@title: Sidebar container
@description: parent container for sidebar menu
*/
.sidebar-container {
    display: grid;
    grid-template-columns: 320px 1fr;

    @include media-queries.medium-desktop{
        grid-template-columns: 1fr;        
    }

    &.sidebar-container--left{}
    &.sidebar-container--right{}
}

/* 
@title: Sidebar label
@description: 
*/
.sidebar-label { 
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #333;
    z-index: 9999;
    transition: left 0.3s ease;
    position: fixed;
    top: 10px;

    &.left {
        left: 270px; 
    }

    &.right {
        right: -195px; 
    }

    &::before {
        content: "✖";
        color: #fff;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        display: block;
        @include effect.ease(opacity, all, .3s, ease-out);
    }

    &::before + .sidebar-toggle:checked {
        opacity: 0; /* Fade out */
    }
    
    &::after + .sidebar-toggle:checked {
        content: "☰";
        color: #fff;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        display: block;
        @include effect.ease(opacity, all, .3s, ease-out);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1; /* Fade in */
    }
}

// .sidebar-label::before {
//     content: "✖";
//     color: #fff;
//     font-size: 24px;
//     line-height: 40px;
//     text-align: center;
//     display: block;
//     transition: opacity 0.3s ease; /* Transition for opacity */
// }

/* Sidebar toggle */
.sidebar-toggle {
    position: absolute;


    // @Todo: update to modifiers?
    &.left {
        left: -9999px; /* Position off-screen */
    }

    
    &.right {
        /* sidebar on right */
        right: -9999px; /* Position off-screen */
    }

    &:checked + .sidebar-label {
        top: 5px;
        left: 5px;
    }
}

.sidebar-toggle:checked ~ .sidebar {
    &.left{
        left: 0;
    }

    & .right{
        right: 0;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0; /* Sidebar hidden by default */
    min-width: 320px;
    height: 100vh;
    background: color.set('light');
    transition: left 0.3s ease;
}

.sidebar-toggle:checked ~ .sidebar {
    left: -320px; /* Sidebar visible when checkbox is checked */
    background: color.set('light');
    transition: left 0.3s ease;
}

.sidebar > a {
    display:block;
}